<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Satellite Overhead Tracker</title>

    <link rel="stylesheet" href="style.css">

</head>

<div style="background: grey">
<nav class="navbar navbar-expand-sm bg-dark">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Tracker</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="aboutus">About Us</a>
        </li>
    </ul>
        <ul class= "navbar-nav ml-auto">
            <a class="navbar-brand" href="#" >
                <img class="square" src="images/milky_way.jpg" width="50" height="50">
            </a>

            <!--github link and logo-->
        </ul>


</nav>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js">

    <div id="particles-js">


        <div id="overlay">

            <div class="container pt-3">
                <h1 id="colortag">Home Page</h1>
                <div class="card">
                    <div class="card-body"><p>Are you an amatuer astronomer? If so, do you want to know about the satellites obscuring your path? You are in the right place! Click the Gather Location
                        Button below to get information on satellites blocking your way of viewing the cosmos!</p></div>
                </div>
                <p>Would you like to send your location data?</p>

                <button onclick="getLocation()">Get Started</button>

                <p id="demo"></p>
                <img src= "../images/Geely_Sat.jpg" height="1050px" width="1400px">
            </div>
            <!-- A grey horizontal navbar that becomes vertical on small screens -->


            <script>
                var x = document.getElementById("demo");

                function getLocation() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    } else {
                        x.innerHTML = "Geolocation is not supported by this browser.";
                    }
                }

                function showPosition(position) {
                    x.innerHTML = "Your Current Position: <br>Latitude: " + position.coords.latitude +
                        "<br>Longitude: " + position.coords.longitude;
                }
            </script>
        </div>

    </div>

</script>

<script src="scripts/background.js"></script>

</body>
</html>
