<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylehseet" href="style.css" type="text/css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Satellite Overhead Tracker</title>

</head>

<body>
<!--<nav clasar-expand-sm bg-dark">-->

<!--    &lt;!&ndash; Links &ndash;&gt;-->
<!--    <ul class="navbar-nav">-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="home">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Tracker</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="aboutus">About Us</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--        <ul class= "navbar-nav ml-auto">-->
<!--            <a class="navbar-brand" href="#" >-->
<!--                <img class="square" src="images/milky_way.jpg" width="50" height="50">-->
<!--            </a>-->

<!--            &lt;!&ndash;github link and logo&ndash;&gt;-->
<!--        </ul>-->


<!--</nav>-->

    <div class="text-center panel">
        <p>START HERE</p>
    </div>

    <div id="particles-js"></div>




<div class="container-fluid pt-3 content-1" style="background-color: rgb(120, 120, 120)">

    <!--    <button onclick="getLocation()">-->
    <!--        <p>Get Started</p>-->
    <!--    </button>-->

    <div class="card-deck mt-4 mb-5">

        <div class="card ml-5 mr-3">
            <div class="card-body" style="background-color: rgb(220, 220, 220)">
                <img src="satellite.svg">
                <hr/>
                <p>
                    Satellite Polution is a growing topic of concern in today's world,
                    with more than 6,000 orbiting artificial entities. Amatuer astronomers, stargazers,
                    and astrophotographers are all concerned about this increasing quantity: but are they inherently obstructive?
                </p>
            </div>
        </div>

        <div class="card ml-3 mr-3">
            <div class="card-body" style="background-color: rgb(220, 220, 220)">
                <hr/>
                <p>
                    Amatuer astronomers, stargazers,
                    and astrophotographers are all concerned about this increasing quantity: but are they inherently obstructive?
                    Satellites can interfere with scientific research, leave streaks on long-exposure images, and needlessly reflect
                    light onto the Earth's surface.
                </p>
            </div>
        </div>

        <div class="card ml-3 mr-5">
            <div class="card-body" style="background-color: rgb(220, 220, 220)">
                <hr/>
                <p>
                    Are you curious about the satellites currently in your area?
                    You are in the right place! Click below to get information on satellites blocking your viewing the cosmos!
                </p>
            </div>
        </div>
    </div>

    <p id="demo"></p>
    <img src= "../images/Geely_Sat.jpg" height="100%" width="100%">

</div>
<!-- A grey horizontal navbar that becomes vertical on small screens -->


<script>
    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        x.innerHTML = "Your Current Position: <br>Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude;
    }
</script>
</div>

<script src="https://cdn.jsdelivr.net/npm/tsparticles@1.19.2/dist/tsparticles.min.js"></script>


<script src="scripts/background.js"></script>

</body>
</html>
