body{
    background-color:rgb(80,80,80)
}
#particles{
    background-color: rgb(88,88,88);
}

#content-1{
     !important;


}

.box{
    border:1px solid red;
    position:absolute;
    width:20px;
    height:20px;
    z-index: 10;
}

.container-fluid {
    padding:0;
    margin-right:auto;
    margin-left:auto
}