<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/hci7zfy.css">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>visualization</title>
    <link rel="shortcut icon" type="image/jpg" href="images/satellite.svg">
    <link rel="stylesheet" href="vis-style.css" type="text/css">
</head>
<body>
<div class="container" id="initial">
    <div class="title text-center text-white">
        <h1 class="head-primary">let's see the skies</h1>
        <p id="info-text">in order to reveal what's in your sky, we need your location.</p>
        <button id="locButton" type="button" class="btn btn-dark" onclick="getLocation()">reveal the skies</button>
        <button id="dataButton" type="button" class="btn btn-dark" onclick="sendData()" disabled>Send Data</button>
    </div>
</div>

<div class="container" id="graph-objs">
    <a href="home.html#motivations"><h4 class="text-white mx-auto" id="home">head home</h4></a>
    <h1 class="head-primary text-center graph-announce text-white">here's what we found</h1>
    <div class="row">
        <div class="col">
            <div class="card text-white bg-dark text-center card1">
                <div class="card-body">
                    <h1>what's above</h1>
                    <hr>
                    <div id="graph" style="width: 450px;height: 450px; display:inline-block;"></div>
                    <hr>
                    <div class="card-text">
                        <p>
                        The night sky above you is littered with over <b id="sat_count"></b> satellites right now.
                        A visible satellite can be as bright as a small star - when this effect is compounded the night sky can be completely obscured.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark text-center card2">
                <div class="card-body">
                    <h1>concentrations</h1>
                    <hr>
                    <div id="heatmap" style="width: 450px;height: 450px;display:inline-block;"></div>                    <hr>
                    <div class="card-text">
                        <p>
                            In the United States and Europe 99 percent of the public can’t experience a natural night due to skyglow.
                            This heatmap shows you the coverage of the satellites you can see when you look above.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <!--            <div class="col-3"></div>-->
        <div class="col-12">
            <div class="card text-white bg-dark text-center card2">
                <div class="card-body">
                    <div class="card-text"><p>Satellites are an incredible tool for humanity, but we need to stay mindful of the effects that they have on our night sky
                        and seek to preserve not only that which is beneath our feet, but also that which is above us. If you're worried about a satellite ruining your view, check out the <a href="https://www.darksky.org/light-pollution/">International Dark
                            Sky Association</a> website for more information.</p></div>
                </div>
            </div>
        </div>
        <!--            <div class="col-3"></div>-->
    </div>



</div>






<!--    <script src="https://cdn.jsdelivr.net/npm/p5@1.2.0/lib/p5.js"></script>-->
<!--    <script src="https://unpkg.com/vis-graph3d@latest/dist/vis-graph3d.min.js"></script>-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/locationGrab.js"></script>
<!--    <script src="/scripts/processingTest.js"></script>-->
<!--    <script src="/scripts/visTest.js"></script>-->
<script src="scripts/plot.js"></script>
</body>
</html>